<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" monitorInterval="5">
    <!--Common -->
    <Properties>
        <Property name="appName">ktwebfx</Property>
        <Property name="consoleLayout">[%d{yyyy-MM-dd HH:mm:ss}] [%-5p] [%c{1}:%L] - %m%n</Property>
        <Property name="fileLayout">%d [%t] %-5level %c(%M:%L) - %m%n</Property>
    </Properties>

    <!-- Appender -->
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleLayout}"/>
        </Console>
        <!--ConsoleAppender, RollingFileAppneder -->
        <RollingFile name="file"
                     fileName="logs/${appName}/app.log"
                     filePattern="logs/${appName}/app.%d{yyyy-MM-dd-hh}.log">
            <PatternLayout pattern="${fileLayout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy
                        modulate="true"
                        interval="1"/><!-- create log file for an hour-->
            </Policies>
            <DefaultRolloverStrategy max="5" fileIndex="min"> <!-- create files until 5 -->
                <Delete basePath="/logs" maxDepth="3">
                    <IfLastModified age="10d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>


        <RollingFile name="errorFile"
                     fileName="logs/${appName}/error.log"
                     filePattern="logs/${appName}/error.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${fileLayout}"/>
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverstrategy>
                <Delete basePath="/logs" maxDepth="3">
                    <IfLastModified age="10d"/>
                </Delete>
            </DefaultRolloverstrategy>
        </RollingFile>


    </Appenders>

    <!--TRACE > DEBUG > INFO > WARN > ERROR > FATAL -->
    <Loggers>
        <!-- springframework logging -->
        <logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </logger>

        <!-- springframework error logging -->
        <logger name="org.springframework" level="error" additivity="false">
            <AppenderRef ref="errorFile"/>
        </logger>

        <logger name="me.exam.ktwebfx.filter.LoggingFilter" level="info" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </logger>

        <logger name="me.exam.ktwebfx.api" level="info" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </logger>

        <!-- root logger-->
        <Root level="info">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
</Configuration>